
/* Ajuste da largura do modal em telas maiores */
.modal-dialog {
    max-width: 700px; /* Limita a largura do modal para não ficar muito largo */
    margin: 1.75rem auto;
}

.modal-header {
    background-color: #007bff;
    color: white;
}


/* Define uma largura fixa para o modal */
.modal-content {
    width: 100%;
}


.modal-alert {
    z-index: 1065; /* Aumenta o z-index do backdrop do modal de alerta */
    background-color: rgba(0, 0, 0, 0.8); /* Torna o fundo mais escuro */
}

.modal-confirm {
    z-index: 1065; /* Aumenta o z-index do backdrop do modal de alerta */
    background-color: rgba(0, 0, 0, 0.8); /* Torna o fundo mais escuro */
}


/* Ajusta a largura dos campos de input no modal */
.form-control {
    max-width: 100%;
}
